<!doctype html>
<html>

<head>
  <title>UW IoT Lab2</title>
</head>

<body>

  <h2>GPIO Interfacing Exercise</h2>
  <h3>Switch: {{'ON' if switch else 'OFF'}}</h3>
  <h4>Red LED on GPIO 18: {{'ON' if led1 else 'OFF'}}</h4>
  <h4>Green LED on GPIO 18: {{'ON' if led2 else 'OFF'}}</h4>
  <h4>Blue LED on GPIO 23: {{'ON' if led3 else 'OFF'}}</h4>

  <p>
    <button type='button' id='red_led_btn' style="width:100px; height:50px; color:white; background:red">RED LED</button><br><br>
    <button type='button' id='grn_led_btn' style="width:100px; height:50px; color:white; background:green">GREEN LED</button><br><br>
    <button type='button' id='blu_led_btn' style="width:100px; height:50px; color:white; background:blue">BLUE LED</button><br><br>
  </p>

  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

  <script>
    $(document).ready(function(){
      //establish global variable for LED status
      var led1;
      var led2;
      var led3;

      //lets make sure our initial page load reads the data in sequence
      function initial_conditions(){
        var d = $.Deferred();

        setTimeout(function(){
          $.get('/leds/1', function(data){
            led1 = $.trim(data.split(':')[1]);
          });//$.get('/leds/1', function(data){

          $.get('/leds/2', function(data){
            led2 = $.trim(data.split(':')[1]);
          });//$.get('/leds/1', function(data){

          $.get('/leds/3', function(data){
            led3 = $.trim(data.split(':')[1]);
          });//$.get('/leds/1', function(data){

          console.log("Got my data", led1, led2, led3);
          d.resolve();
        },1);//setTimeout(function(){

        return d.done();
      }//function initial_condition(){

//lets initialite our LED vars to the current status of LED State "ON"/"OFF"
        function led_status(){
          var d = $.Deferred();

          setTimeout(function(){
            if (led1 === '0') {led1 = 'OFF'} else {led1 = 'ON'};
            if (led2 === '0') {led2 = 'OFF'} else {led2 = 'ON'};
            if (led3 === '0') {led3 = 'OFF'} else {led3 = 'ON'};
            d.resolve();
            console.log('Red:', led1);
            console.log('Green:', led2);
            console.log('Blue:', led3);
          }, 200);//          setTimeout(function(){
            return d.promise();
        }//        function led_status(){

initial_conditions().then(led_status);

      //button click function run asynchronously
      $('#red_led_btn').click(function() {
        if (led1 === "OFF"){led1 = "ON";} else {led1 = "OFF";}
        var params = 'led=1&state='+led1;
        console.log('LED Command with params:'+params);
        $.post('/ledcmd', params,function(data, status){
          console.log("Data: " + data + "\nStatus: "+ status);
        });//$post('/ledcmd', params,function(data, status)
      });//$(#red_led_btn).click(function(){

        $('#grn_led_btn').click(function(){
          if (led2 === "OFF"){led2 = "ON";} else {led2 = "OFF";}
          var params = 'led=2&state='+led2;
          console.log('Led Command with params:'+params);
          $.post('/ledcmd', params,function(data, status){
            console.log("Data: " + data + "\nStatus: "+ status);
          });//$post('/ledcmd', params,function(data, status)
        });//$(#rgrn_led_btn).click(function(){

          $('#blu_led_btn').click(function(){
            if (led3 === "OFF"){led3 = "ON";} else {led3 = "OFF";}
            var params = 'led=3&state='+led3;
            console.log('Led Command with params:'+params);
            $.post('/ledcmd', params,function(data, status){
              console.log("Data: " + data + "\nStatus: "+ status);
            });//$post('/ledcmd', params,function(data, status)
          });//$(#blu_led_btn).click(function(){
    });//$(document).ready(function(){
  </script>

</body>

</html>
